<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
          
        html {
            scroll-behavior: smooth;
        }
        .headings{
            text-align: center;
            background-color: rgb(39, 30, 43);
            color:lightpink;
            font-style: italic;
            letter-spacing: 2px;
        }
        .logo img {
            width: 100px;
            height: 100px;
        }
        #navbar {
            background-color: rgb(27, 27, 27);
            position: fixed;
            width: 100%;
        }
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 8vh;
            background-color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
          
        
          
        .nav-options {
            display: flex;
            justify-content: space-around;
            width: 50%;
        }
        .nav-options li {
            list-style: none;
        }
        .nav-options a {
            color: rgb(214, 123, 19);
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 15px;
        }
        .nav-options a:hover {
            color: aquamarine;
        }
        .home {
            background-image: url("https://img.freepik.com/premium-photo/border-made-with-cosmetics-products-flowers-blue-background_23-2147891378.jpg?w=2000");
            background-color: black;
            width: 100%;
            height: 100%;
            color: rgb(180, 178, 178);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            padding: 0px 50px;
            text-align: right;
        }
          
        .intro {
            background-color:aliceblue;
            color:violet;
            text-align: center;
            font-size: 30px;
            font-style: italic;
        }
    </style>
</head>
<body>
    <header>
        <nav id = "navbar">
            <div class="logo">
                <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJYxwzTsn8srgaQDpZbUDR7GaGSoqPJz7c9g&usqp=CAU">
            </div>
            <ul class="nav-options">
                <li><a href="/home">HOME</a></li>
                <li><a href="/cosmetic">GUIDE</a></li>
                <li><a href="/signin">LOGOUT</a></li>
            </ul>
        </nav>
    </header>  

    <section id="home" class="home">
        <div class="intro">
            <p> <h1>WELCOME TO COSMETIC PRODUCTS GUIDE</h1></p>
            <form action="/query" method="GET" >
                Enter your query: <input type="text" name="search" id = "search" value = "search"> <br>
                <button type="submit" style="background-color:aqua; float: center; padding: 15px 32px;"> Get started! </button>
            </form>
        </div>

    </section>
        

    <section id="cosmetic" class="cosmetic">
        <div class="intro">
        </div>
    </section>
            
</body>
</html>