<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
          
        html {
            scroll-behavior: smooth;
        }
        .headings{
            text-align: center;
            background-color: rgb(39, 30, 43);
            color:lightpink;
            font-style: italic;
            letter-spacing: 2px;
        }
        
        #navbar {
            background-color: rgb(27, 27, 27, .4);
            position: fixed;
            width: 100%;
        }
        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 15vh;
            min-width: 25vh;
            /*background-color: black;*/
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        /*.logo img {
            width: 100px;
            height: 100px;
        }*/
        
        .nav-options {
            display: flex;
            justify-content: space-around;
            width: 50%;
        }
        .nav-options li {
            list-style: none;
        }
        .nav-options a {
            color: rgb(214, 123, 19);
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 15px;
        }
        .nav-options a:hover {
            color: aquamarine;
        }
        .home {
            background-image: url("https://wallpaperaccess.com/full/4939933.jpg");
            background-size: 1500px;
            background-color: black;
            width: 100%;
            height: 100%;
            color: rgb(214, 123, 19);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
            padding: 0px 50px;
            text-align: right;
        }
          
        .intro {
            /*background-color:rgb(219, 177, 235);*/
            color: rgb(214, 123, 19);
            text-align: center;
            font-size: 40px;
            font-style: normal;
        }/*font*/
    </style>
</head>
<body>
    <header>
        <nav id = "navbar">
            <!--<div class="logo">
                <img src ="https://img.freepik.com/free-photo/cosmetic-brush-cloud-pink-powder-dark-background_23-2148209048.jpg?w=360">
            </div>-->
            <ul class="nav-options">
                <li style = "position:relative; left:100px; top:2px"><a href="/home"><b>HOME</b></a></li>
                <li style = "position:relative; left:100px; top:2px"><a href="/cosmetic"><b>GUIDE</b></a></li>
                <li style = "position:relative; left:100px; top:2px"><a href="/signin"><b>LOGOUT</b></a></li>
            </ul>
        </nav>
    </header>  

    <section id="home" class="home">
        <div class="intro">
            <p style = "position:relative; left:100px; top:2px;"><b>Hey Guys! </b></p>
            <p style = "position:relative; left:100px; top:2px"><b>Check out some cool cosmetics</b></p>
            <form action="/cosmetic">
                <button type="submit" style="border-radius: 12px; float: center; padding: 15px 32px; position:relative; left:100px; top:2px"><b>GET STARTED</b></button>
            </form>
        </div>
    </section>  

    <section id="cosmetic" class="cosmetic">
        <div class="intro">
        </div>
    </section>
            
</body>
</html>
